<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Test\GeoWeather\Api\ConfigInterface" type="Test\GeoWeather\Model\Config"/>
    <preference for="Test\GeoWeather\Api\Data\GeoWeatherInterface" type="Test\GeoWeather\Model\GeoWeather"/>
    <preference for="Test\GeoWeather\Api\GeoWeatherRepositoryInterface" type="Test\GeoWeather\Model\GeoWeatherRepository"/>

    <virtualType name="Test\GeoWeather\Model\ResourceModel\Group\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">geo_weather</argument>
            <argument name="resourceModel" xsi:type="string">Test\GeoWeather\Model\ResourceModel\GeoWeatherResource</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="test_geoweather_index_listing_data_source" xsi:type="string">Test\GeoWeather\Model\ResourceModel\Group\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
