<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Test_GeoWeather::weather" title="Test GeoWeather" module="Test_GeoWeather" sortOrder="1000" resource="Test_GeoWeather::weather" parent="Magento_Backend::content" action="test_geoweather/index/index"/>
    </menu>
</config>
